### Matlab specific gitignore file.
#  Sources: https://github.com/github/gitignore
#           https://gist.github.com/chichunchen/970a7e97c74a253a4503
#  Edits: Nicholas Bruce
#  Last edit: Jun. 4/18
###

## Windows default autosave extension
*.asv

## OSX / *nix default autosave extension
*.m~

## Compiled MEX binaries (all platforms)
*.mex*

## Simulink Code Generation
slprj/

## Session info
octave-workspace

## Simulink autosave extension
*.autosave

## Binary files
Phase-locking/Binaries/*
